.box {
  display: flex;
  margin-left: 20px;
}

.movieDescription {
  margin-left: 20px;
}

.title {
  margin-bottom: 10px;
}

.voteAverage {
  margin-bottom: 10px;
}

.voteAverageTitle {
  font-weight: 700;
}

.voteAverageText {
  color: red;
  font-weight: 500;
}

.overviewTitle {
  margin-bottom: 10px;
  font-weight: 700;
}

.overviewText {
  margin-bottom: 10px;
  font-style: italic;
}

.genresTitle {
  font-weight: 700;
  margin-bottom: 10px;
}

.genresList {
  display: flex;
}

.genrItem {
  margin-right: 15px;
}
